/* NAV BAR STYLES START */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-top: auto;
  margin-bottom: auto;

  background-color: #797883;
  width: 15rem;
  height: 100%;
  border-radius: 1rem;
}
/* NAV BAR STYLES END */
